.film {
  margin-bottom: $space-800;

  @include mq($M) {
    display: flex;
    gap: $space-500;
  }

  &__content-wrapper {
    flex-basis: 66.66667%;
  }

  &__image-wrapper {
    flex-basis: 33.33333%;
  }
}
