.contact {
  > .container {
    @include mq($M) {
      display: flex;
    }
  }

  &__col {
    @include mq($M) {
      flex-basis: 50%;
    }
  }

  &__block {
    font-size: 0.75rem;
    margin-bottom: $space-300;

    p {
      margin-bottom: $space-300;
    }
  }
}
