.contact {
  &-header {
    @include mq($M) {
      display: flex;
    }

    &__image-wrapper {
      margin-bottom: $space-700;

      @include mq($M) {
        border-right: 1px solid $border-color;
        flex-basis: 50%;
      }

      @include mq($XL) {
        flex-basis: 35%;
        margin-bottom: $space-800;
      }
    }

    &__copy-wrapper {
      border-bottom: 1px solid $border-color;
      margin-bottom: $space-700;
      padding-bottom: $space-700;

      @include mq($M) {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        padding: $space-600;
      }

      @include mq($XL) {
        flex-basis: 65%;
        margin-bottom: $space-800;
      }

      > .container {
        @include mq($M) {
          align-items: center;
          display: flex;
          flex-direction: column;
        }

        @include mq($XL) {
          align-items: flex-end;
          max-width: 540px;
          padding: 0 $space-500;
        }
      }

      hr {
        margin-bottom: $space-600;
        position: relative;

        &::before {
          content: url('/cartel-caret.svg');
          left: -9px;
          position: absolute;
          top: -11px;
        }

        &::after {
          content: url('/cartel-caret.svg');
          right: -9px;
          position: absolute;
          top: -15px;
          transform: rotate(180deg);
        }

        @include mq($M) {
          display: none;
        }
      }

      .h2 {
        @include mq($M) {
          font-size: 1.0625rem;
        }
      }
    }

    &__contact-number {
      font-size: 1.25rem;
      position: relative;

      @include mq($XL) {
        margin-right: 1.75rem;
      }

      &:focus,
      &:hover {
        border-bottom: 2px solid $aqua;

        &:after {
          content: 'Call us!';
          font-family: $font-sans-light;
          font-size: 0.75rem;
          position: absolute;
          right: -60px;
          top: -8px;
        }
      }
    }

    &__heading {
      margin-bottom: $space-600;

      @include mq($M) {
        margin-bottom: 0;
      }
    }

    &__contact-block-wrapper {
      margin-bottom: $space-600;

      @include mq($M) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &__contact-block {
      &:not(:last-child) {
        margin-bottom: $space-600;
      }

      @include mq($M) {
        font-size: 0.875rem;
        line-height: 1.25;

        &:not(:last-child) {
          margin-bottom: $space-400;
        }
      }
    }
  }

  &__office-block {
    border-bottom: 1px solid $border-color;
    margin-bottom: $space-700;
    padding-bottom: $space-700;

    @include mq($XL) {
      padding-bottom: $space-800;
    }

    > .container {
      @include mq($M) {
        display: flex;
        width: 100%;
      }
    }

    &-copy {
      margin-left: $space-800;

      @include mq($M) {
        margin-left: $space-850;
        width: 60%;
      }

      @include mq($L) {
        margin-left: $space-900;
      }

      @include mq($XL) {
        margin-left: $space-900 * 1.8125;
      }

      address {
        &:not(:last-child) {
          margin-bottom: $space-600;
        }

        @include mq($M) {
          display: flex;
          max-width: 480px;
        }

        @include mq($L) {
          max-width: 600px;
        }

        .h2 {
          @include mq($M) {
            font-size: 1.0625rem;
            flex-basis: 45%;
          }

          @include mq($L) {
            flex-basis: 50%;
          }
        }
      }
    }
  }

  &__representation-block {
    border-bottom: 1px solid $border-color;
    margin-bottom: $space-400;
    padding-bottom: $space-700;

    > .container {
      @include mq($M) {
        display: flex;
        width: 100%;
      }
    }

    &-copy {
      @include mq($M) {
        display: flex;
        flex-wrap: wrap;
        margin-left: $space-700;
      }

      @include mq($L) {
        margin-left: $space-800;
      }

      @include mq($XL) {
        margin-left: $space-900;
        width: 75%;
      }

      li {
        &:not(:last-child) {
          margin-bottom: $space-600;
        }

        @include mq($M) {
          flex-basis: 50%;
        }
      }

      .h2 {
        @include mq($M) {
          font-size: 1.0625rem;
        }
      }
    }
  }
}
