.editor-detail {
  &__header {
    padding-bottom: $space-700;
    padding-top: $space-300;
  }

  &__name {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    margin-top: $space-400;
  }

  &__item {
    margin-right: $space-300;

    &:not(:last-child) {
      &::after {
        border-right: 2px solid $black;
        content: '';
        margin-left: $space-300;
      }
    }
  }

  &__link {
    border: 0;
    font-family: $font-sans-bold;
    font-size: 0.75rem;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-transform: uppercase;
    transition: color 0.2s ease-out;

    &:focus,
    &:hover {
      color: $text-clr;
    }

    &:focus,
    &:hover,
    &.active {
      &::before {
        background-color: $aqua;
        border-radius: 50%;
        content: '';
        height: 0.375rem;
        left: -0.5rem;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        width: 0.375rem;
      }
    }
  }
}
