.editors {
  border-bottom: 1px solid $border-color;
  padding-bottom: $space-300;
  padding-left: $space-400;
  padding-right: $space-400;
  padding-top: $space-700;
  position: relative;

  @include mq($M) {
    display: flex;
    padding-bottom: $space-400;
    padding-right: 0;
    padding-top: $space-700;
  }

  @include mq($XL) {
    padding-bottom: $space-750;
    padding-left: $space-800;
    padding-top: $space-800;
  }

  &__heading {
    margin-bottom: $space-700;

    @include mq($M) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    @include mq($L) {
      left: $space-700;
    }

    @include mq($XL) {
      left: $space-800;
    }
  }

  &__list {
    margin-left: $space-400;

    @media (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }

    @include mq($XL) {
      margin-left: 0;
      max-width: 1440px;
      width: 90%;
    }
  }

  &__item {
    margin-bottom: $space-600;
    position: relative;

    @media (min-width: 600px) {
      flex-basis: 50%;
    }

    @include mq($XL) {
      position: relative;

      &:focus,
      &:hover {
        &::after {
          background-color: $white;
          content: url('https://picsum.photos/id/1018/300/169');
          margin-left: $space-600;
          padding: $space-300;
          position: absolute;
          width: calc(300px + 1.5rem);
          z-index: 1;
        }
      }
    }
  }

  &__link {
    border: 0;
    font-size: 1.25rem;

    &:focus,
    &:hover {
      &::before {
        background-color: $aqua;
        border-radius: 50%;
        content: '';
        height: 0.5rem;
        left: -0.75rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5rem;
      }
    }
  }
}
