.editor-detail {
  &__header {
    background-color: $beige;
    border-bottom: 1px solid $border-color;
    padding-bottom: $space-300;
    padding-left: $space-400;
    padding-right: $space-400;
    padding-top: $space-700;
    position: relative;

    @include mq($M) {
      background-color: $white;
      display: flex;
      padding-bottom: $space-700;
      padding-right: 0;
      padding-top: $space-700;
    }

    @include mq($XL) {
      padding-bottom: $space-800;
      padding-left: $space-800;
      padding-top: $space-800;
    }

    &--lookout {
      background-color: $color-grey-2;
      border-bottom: $space-500 solid $aqua;
    }
  }

  &__name {
    margin-bottom: $space-700;

    @include mq($M) {
      margin-bottom: 0;
      padding-left: $space-500;
      padding-right: $space-800;
    }

    @include mq($XL) {
      padding-left: 0;
      padding-right: $space-900;
    }

    @include mq($XXL) {
      padding-right: $space-900 * 2;
    }

    &--lookout {
      font-family: $font-sans-bold;
      text-transform: uppercase;
    }
  }

  &__list {
    margin-left: $space-400;

    @include mq($M) {
      display: flex;
    }
  }

  &__item {
    margin-bottom: $space-600;

    @include mq($M) {
      margin-bottom: 0;
      margin-right: $space-700;
    }
  }

  &__link {
    border: 0;
    font-size: 1.25rem;
    position: relative;

    &:focus,
    &:hover,
    .active {
      &::before {
        background-color: $aqua;
        border-radius: 50%;
        content: '';
        height: 0.5rem;
        left: -0.75rem;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 0.5rem;
      }
    }

    &--lookout {
      color: $white;

      &:focus,
      &:hover {
        color: $white;

        &::before {
          background-color: $aqua;
        }
      }

      &.active {
        &::before {
          background-color: $white;
          border-radius: 50%;
          content: '';
          height: 0.5rem;
          left: -0.75rem;
          position: absolute;
          top: 45%;
          transform: translateY(-50%);
          width: 0.5rem;
        }
      }
    }
  }
}
