.editor-detail {
  &__header {
    padding-bottom: $space-600;
    padding-top: $space-200;
  }

  &__name {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    margin-top: $space-400;
  }

  &__item {
    margin-right: $space-300;

    &:not(:last-child) {
      &::after {
        border-right: 2px solid $black;
        content: '';
        margin-left: $space-300;
      }
    }
  }

  &__link {
    border: 0;
    font-size: 0.6875rem;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-transform: uppercase;
    transition: color 0.2s ease-out;

    &:focus,
    &:hover {
      color: $text-clr;
    }

    &:focus,
    &:hover,
    &.active {
      text-decoration: underline;
      text-decoration-color: $aqua;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
    }
  }
}
