.home-videos {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0;
  padding-left: $space-400;
  padding-right: $space-400;
  position: relative;

  @include mq($M) {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
  }

  &__heading-wrapper {
    align-self: flex-start;
    padding-bottom: $space-700;
    padding-top: $space-700;
    width: 100%;

    @include mq($M) {
      left: $space-600;
      padding-bottom: 0;
      padding-top: $space-750;
      position: sticky;
      top: 200px;
    }

    @include mq($L) {
      left: $space-700;
      padding-top: $space-850;
      top: 360px;
    }

    @include mq($XL) {
      left: $space-800;
      padding-top: $space-800;
      top: 317px;
    }
  }

  &__list {
    @include mq($M) {
      max-width: 80%;
    }
  }

  &__item {
    margin-bottom: $space-700;

    @include mq($M) {
      align-items: flex-end;
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 0;

      &:not(:first-child) {
        .home-videos__video-wrapper {
          padding-top: 0;
        }
      }
    }
  }

  &__video-wrapper {
    background-color: $white;
    margin-bottom: $space-400;
    padding: $space-300;
    position: relative;

    @include mq($M) {
      flex-basis: 70%;
      margin-bottom: 0;
    }

    img {
      filter: grayscale(1);
      transition: filter 0.2s ease-out;

      &:focus,
      &:hover {
        filter: grayscale(0);
      }
    }

    .iframe-container {
      background-color: $black;
      height: calc(100% - 1.5rem);
      left: $space-300;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 1.5rem);
    }
  }

  &__text-wrapper {
    @include mq($M) {
      margin-bottom: $space-300;
      margin-right: $space-400;
    }

    @include mq($XL) {
      margin-right: $space-600;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
}
