.lookout {
  border-bottom: 1px solid $border-color;

  &__item {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: $space-700;
    padding-left: $space-500;
    padding-top: $space-800;

    @include mq($M) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $space-800;
      padding-top: $space-900;
    }

    @include mq($L) {
      padding-right: $space-500;
    }

    @include mq($XL) {
      padding-left: $space-800;
    }

    &-name {
      font-family: $font-sans-black;
      font-size: 1.75rem;
      margin-bottom: 0;
      margin-top: $space-800;
      text-transform: uppercase;

      @include mq($M) {
        flex-basis: 50%;
        margin-top: 0;
      }

      @include mq($L) {
        flex-basis: 33.33333%;
        padding-left: $space-500;
      }

      @include mq($XL) {
        flex-basis: 25%;
        padding-left: 0;
      }

      @include mq($XXL) {
        flex-basis: 33.33333%;
      }

      a {
        background-color: transparent;
        outline: none;
        padding: 0.3em 0;
        transition: background-color 0.67s ease-out;

        &:focus,
        &:hover {
          background-color: $aqua;
          padding: 0.3em 0;
        }
      }
    }

    &-images {
      position: relative;

      a {
        display: block;
        outline-color: $aqua;
        transition: outline 0.33s ease-out;

        &:focus,
        &:hover {
          outline: 27px solid $aqua;
        }
      }

      &:focus,
      &:hover {
        .lookout__item-secondary-image--right {
          right: -$space-200;
          top: -31%;
        }

        .lookout__item-secondary-image--bottom {
          bottom: -33%;
          right: 6%;
        }

        .lookout__item-secondary-image--left {
          bottom: -11%;
          left: -6%;
        }
      }
    }

    &-primary-image {
      @include mq($L) {
        max-width: 75%;
      }

      @include mq($XL) {
        max-width: 90%;
      }

      @include mq($XXL) {
        max-width: 100%;
      }
    }

    &-secondary-image {
      position: absolute;

      &--right {
        right: -$space-500;
        top: -33.33333%;
        transition: all 0.66s ease-out;
        width: 33.33333%;

        @include mq($M) {
          right: -$space-300;
        }
      }

      &--bottom {
        bottom: -35%;
        right: 5%;
        transition: all 0.66s ease-out;
        width: 50%;
      }

      &--left {
        bottom: -15%;
        left: -7%;
        transition: all 0.66s ease-out;
        width: 33.33333%;
      }
    }
  }
}
