.scrollable-cards {
  border-bottom: 1px solid $border-color;
  padding-bottom: $space-700;
  padding-left: $space-500;
  padding-top: $space-700;
  position: relative;

  @include mq($M) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-top: 0;
  }

  &__heading {
    margin-bottom: $space-700;

    @include mq($M) {
      left: $space-600;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    @include mq($L) {
      left: $space-700;
    }

    @include mq($XL) {
      left: $space-800;
    }
  }

  &__list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include mq($M) {
      border-left: 1px solid $border-color;
      margin-left: 33%;
      padding-bottom: $space-700;
      padding-left: $space-700;
      padding-top: $space-700;
    }
  }

  &__item {
    flex-basis: 215px;
    margin-right: $space-500;
    min-width: 215px;
    scroll-snap-align: start;

    &:first-of-type {
      scroll-margin-left: $space-500;
    }

    @include mq($L) {
      flex-basis: 396px;
      min-width: 396px;
    }
  }

  &__text-card {
    border: 10px solid $gold;
    color: $gold;
    display: flex;
    flex-basis: 308px;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.25;
    min-width: 308px;
    padding: $space-500;

    @include mq($M) {
      flex-basis: 345px;
      min-width: 345px;
    }

    @include mq($M) {
      flex-basis: 370px;
      min-width: 370px;
    }

    img {
      margin-bottom: $space-500;
      width: 48px;
    }

    p {
      font-size: 0.875rem;

      &.scrollable-cards__intro-text {
        font-family: $font-serif-semi;
        font-size: 1.25rem;
        margin-bottom: $space-300;
      }
    }
  }
}
