.grid-image {
  &__link {
    display: block;
    position: relative;
    width: 100%;

    &:focus {
      outline: 3px solid $gold-dark;
    }

    &:focus,
    &:hover {
      p {
        opacity: 1;
      }

      img {
        filter: grayscale(0) brightness(1) sepia(0) hue-rotate(0) opacity(1);
      }
    }

    img {
      filter: grayscale(1) brightness(1.5) sepia(0.35) hue-rotate(175deg)
        opacity(0.75);
      transition: filter 0.15s ease-out;
    }
  }

  &__item-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.33);
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: $space-300;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    font-family: $font-sans-light;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    text-align: center;
    // text-shadow: 1px 1px 20px $black;
    text-transform: uppercase;
    transition: opacity 0.2s ease-out;
  }
}

.editors .grid-image__text {
  opacity: 1;
}
