.grid-image {
  &__link {
    display: block;
    position: relative;
    width: 100%;

    &:focus {
      outline: 3px solid $gold-dark;
    }

    &:focus,
    &:hover {
      img {
        filter: grayscale(0) sepia(0) hue-rotate(0);
      }
    }

    img {
      filter: grayscale(1) sepia(0.2) hue-rotate(175deg);
      transition: filter 0.2s ease-out;
    }
  }

  &__item-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.33);
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: $space-300;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    font-family: $font-sans-light;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}
