.nine-grid-videos {
  &__row {
    display: flex;
    flex-direction: column;

    @include mq($M) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $space-500;

      @supports (display: grid) {
        display: grid;
        grid-gap: 1.25rem;
        align-items: center;

        &--one {
          grid-template-columns: 66% 32%;
        }

        &--two {
          grid-template-columns: 1fr 1fr 1fr;
        }

        &--three {
          grid-template-columns: 32% 66%;
        }
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;

    &:focus,
    &:hover {
      img {
        filter: grayscale(0) brightness(1) sepia(0) hue-rotate(0) opacity(1);
      }
    }
  }

  &__item-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.33);
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: $space-300;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__item {
    padding-bottom: $space-500;

    @include mq($M) {
      flex-basis: calc(33.33333% - 0.375rem);
      max-width: calc(33.33333% - 0.375rem);
      padding-bottom: 0;

      @supports (display: grid) {
        flex-basis: unset;
        max-width: none;
      }
    }

    @include mq($L) {
      flex-basis: calc(33.33333% - 1.5rem);
      max-width: calc(33.33333% - 1.5rem);

      @supports (display: grid) {
        flex-basis: unset;
        max-width: none;
      }
    }

    &--large {
      .nine-grid-videos__text {
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px 20px $black;
      }

      @include mq($S) {
        .nine-grid-videos__text {
          font-size: 1.25rem;
        }
      }

      @include mq($M) {
        flex-basis: calc(69.75% - 0.375rem);
        max-width: calc(69.75% - 0.375rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }

        .nine-grid-videos__text {
          font-size: 1.25rem;
        }
      }

      @include mq($L) {
        flex-basis: calc(68.75% - 1rem);
        max-width: calc(68.75% - 1rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }
      }

      @include mq($XXL) {
        flex-basis: calc(68% - 1.5rem);
        max-width: calc(68% - 1.5rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }
      }
    }

    &--stacked {
      @include mq($M) {
        display: flex;
        flex-basis: calc(30.25% - 0.375rem);
        flex-direction: column;
        justify-content: space-between;
        max-width: calc(30.25% - 0.375rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }
      }

      @include mq($L) {
        flex-basis: calc(31.25% - 1rem);
        max-width: calc(31.25% - 1rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }
      }

      @include mq($XXL) {
        flex-basis: calc(32% - 1.5rem);
        max-width: calc(32% - 1.5rem);

        @supports (display: grid) {
          flex-basis: unset;
          max-width: none;
        }
      }

      div:first-child {
        padding-bottom: $space-500;

        @include mq($M) {
          padding-bottom: 0;

          @supports (display: grid) {
            margin-bottom: $space-300;
          }
        }
      }
    }

    img {
      filter: grayscale(1) brightness(1.1) sepia(0.25) hue-rotate(175deg)
        opacity(0.9);
      transition: filter 0.2s ease-out;

      @include mq($M) {
        margin-bottom: $space-300;

        @supports (display: grid) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__text {
    text-align: center;
    @include mq($M) {
      font-size: 0.6875rem;
    }

    &-client {
      font-family: $font-serif-bold;
    }
  }
}
