.three-col-grid {
  &__list {
    @include mq($M) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: $space-500;

    @include mq($M) {
      flex-basis: calc(50% - 0.75rem);
    }

    @include mq($L) {
      flex-basis: calc(33.33333% - 1.5rem);
    }
  }
}
