.three-col-grid {
  &__list {
    @include mq($M) {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      @include mq($L) {
        gap: 1.875rem;
      }
    }
  }

  &__item {
    margin-bottom: $space-500;

    @include mq($M) {
      flex-basis: calc(50% - 0.75rem);
      margin-bottom: 0;
    }

    @include mq($L) {
      flex-basis: calc(33.33333% - 1.25rem);
    }
  }
}
