.video-detail {
  background-color: $white;
  padding-bottom: $space-500;

  > .container {
    @include mq($M) {
      display: flex;
      flex-direction: row;
    }
  }

  &__video {
    background-color: $black;
    margin-bottom: $space-400;
    position: relative;

    @include mq($M) {
      flex-basis: 66.66666%;
      margin-bottom: 0;
    }

    iframe {
      &:focus {
        border: 1px solid $aqua;
      }
    }
  }

  &__thumbnail-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    transition: opacity 1s ease-out;

    &::after {
      content: url('/icon-play.svg');
      position: absolute;
      width: 24px;
    }

    &.is-playing {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__video-wrapper {
    animation: fadeIn 2s ease-out;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__text {
    @include mq($M) {
      align-items: flex-start;
      flex-basis: 33.33333%;
      flex-direction: column;
      justify-content: center;
      padding-left: $space-500;
      padding-right: 0;
      position: relative;
    }
  }

  &__client {
    font-size: 1.75rem;
    margin-bottom: 0;

    &::after {
      border: 0;
    }
  }

  &__project {
    font-size: 0.75rem;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;

    &::after {
      border-top: 3px solid $text-clr;
      bottom: -14px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      left: 0;
      width: 30px;
    }
  }

  &__meta {
    font-size: 0.6875rem;

    &-item {
      &:not(:last-child) {
        margin-bottom: $space-100;
      }
    }
  }
}
